.nav-column{
  
  min-width: 20vw;
}

.content-column{
  min-height: 90vh;
  background-color:white;
  padding: 20px;
  box-shadow:0px 0px 4px 2px rgb(65,65,65,0.7);
  left: 20vw;
  right: 20vw;
  width: 60vw;
}

.row{
  display:flex;
  flex-direction: row;
  flex:1;
}

.content{
  display:flex;
  flex-direction: column;
  height: 100%;
  background: url('./assets/group.jpg');
  background-repeat: repeat-x;
  align-content: center;
  background-position-y: bottom;
}

.gutter{
  width: 20vw;
  position: fixed;
  right: 0;
}

h4{
  text-align: center;
}