.nav-column{

  min-width: 20vw;
}

.content-column{
  flex:1;
  min-height: 90vh;
  background-color:white;
  padding: 20px;
  box-shadow:0px 0px 4px 2px rgb(65,65,65,0.7);
}

.row{
  display:flex;
  flex-direction: row;
  flex:1;
}

.content{
  display:flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background: url('./assets/koi.png');
}

.gutter{
  width: 20vw;
}

h4{
  text-align: center;
}