#master{
    list-style: none;
    text-align: left;
    margin-left: -25px;
    position: fixed;
    height: 100vh;
    top:0;
    bottom: 0;
    max-width: 400px;
}

a:hover,
span:hover,
.NavBar > ul > div > li:first-child:hover{
    text-decoration: underline;
    cursor: pointer;
    color: red;
}

#topic{
    font-weight: bold;
    padding-top: 10px;
}

a {
    text-decoration: none;
}

.NavBar > ul > div > li:first-child{
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    vertical-align: middle;
    padding-bottom: 10px;
}
