#master{
    list-style: none;
    text-align: left;
    position: fixed;
    max-width: 400px;
    background-color: white;
    margin-left: 5px;
    padding: 10px;
    border-radius: 6px;
    box-shadow: 3px 13px 15px 0px rgb(65,65,65,0.7);
}

a:hover,
span:hover,
.NavBar > ul > div > li:first-child:hover{
    text-decoration: underline;
    cursor: pointer;
    color: red;
}

#topic{
    font-weight: bold;
    padding-top: 10px;
}

a {
    text-decoration: none;
}

.NavBar > ul > div > li:first-child{
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    vertical-align: middle;
    padding-bottom: 10px;
    border-radius: 20px;
    box-shadow: 1px 3px 4px 0px rgb(65,65,65,0.7);
}

.NavBar > ul {
    padding-left: 0;
}

