#master{
    list-style: none;
    text-align: left;
    position: fixed;
    max-width: 400px;
    background-color: rgba(250, 235, 215, 0.7);
    margin-left: 5px;
    padding: 10px;
    border-radius: 6px;
}

a:hover,
span:hover,
.NavBar > ul > div > li:first-child:hover{
    text-decoration: underline;
    cursor: pointer;
    color: red;
}

#topic{
    font-weight: bold;
    padding-top: 10px;
}

a {
    text-decoration: none;
}

.NavBar > ul > div > li:first-child{
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    vertical-align: middle;
}

.NavBar > ul {
    padding-left: 0;
}

.NavBar {
    background-color: rgba(250, 235, 215, 1);
}
